#root {
  margin: 0 auto;
  text-align: center;
}

.dark-mode-button{
  position: sticky;
  display: none;
  top: 0;
}
.chart{
  padding: 10px;
  height: 500px;
}
.select{
  margin: 20px 0px 0 0px;
  display: flex;
  gap: 5px;
  padding: 20px;
}


.MuiChartsAxis-label{
  transform: translateX(-10px) !important;
}
body{
  transition: all 0.2s ease-in-out;
}

.help{
  padding: 20px;
  width: 300px;
  text-align: justify;
}

@media (min-width: 800px) {
  body{
    width: 80%;
    max-width: 1400px;
  }
}
h1 {
  font-size: 3em;
  line-height: 1.1;
}


@media (max-width: 800px) {
  .chart{
    height: 300px;
  }
  h1{
    font-size: 2em;
  }
  body{
    width: 95%;
    max-width: 800px;
  }
  .help{
    width: 200px;
  }
}


